.content-promo-fluid-thumbnail-grid-item
  %row
    .content-promo-description-title
      = t("promo.content.#{content_name}_title")
  .content-promo-description-container
    %row
      .content-promo-description-text
        = t("promo.content.#{content_name}_text")