.content-promo-intro-container
  .content-promo-intro-wrapper
    %row
      %h1.content-promo-intro-title
        = t("promo.content.intro_what_title")

    %row
      .content-promo-intro-text
        = t("promo.content.intro_what_text")
  %br
  .content-promo-intro-wrapper
    %row
      %h2.content-promo-intro-title
        = t("promo.content.intro_why_title")

    %row
      .content-promo-intro-text
        = t("promo.content.intro_why_text")
        