@import "mixins/all";
@import "compass/css3/background-size";
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import "font-awesome";


/* Height of the whole footer bar */
$footerHeight: lines(2.5);

/* Height of an element (i.e. button) in the footer bar */
$elementHeight: em(40);

/* Element padding, i.e. empty space on the top and below of the element */
$elementPadding: ($footerHeight - $elementHeight) / 2;

/* Line heights, add -3px finetuning, text looks better */
$buttonLineHeight: $elementHeight - em(3);
$textLineHeight: $footerHeight - em(3);

/* Default spacing between footer bar elements */
$elementSpacing: lines(0.5);

.footer-wrapper {
  @include wrapper(0);
  background: #674FA7;
  color: #FFFFFF;
}

.footer-container {
  display: block;
  background: #674FA7;
  color: #FFFFFF;
  padding: 0em $elementSpacing;
  height: $footerHeight;
}

.footer-copyright-text {
  font-size: 1.4em;
  padding-top: 0.75em;
}

.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}

.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #674FA7;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #674FA7;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #674FA7;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #674FA7;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #674FA7;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #674FA7;
}
.fa-google-plus:hover {
    background-color: #e25714;
}
