@import "mixins/all";
@import "compass/css3/background-size";

.content-service-description-container {
  text-align: center;
  background: #eeeeee;
}

.content-service-description-wrapper {
  @include wrapper(0);
  background: #eeeeee;
  padding-bottom: 0.75em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.content-service-description-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 2em;
  color: #e058d4;
}

.content-service-description-text {
  font-size: 18px;
  text-align: center;
  color: #808080;
  padding-top: 1em;
  padding-bottom: 1em;
}

.content-service-description-table {

}

.content-service-description-tbody {

}

.content-service-description-tr {

}

.content-service-description-td-container {
  border: 1px solid #d4cdcd;
  padding: 5%;
}

.content-service-description-td-image {
  width: 30%;
}


.content-service-description-td-image-title {
  font-weight: bold;
  color: #606060;
  font-size: 20px;
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}

.content-service-description-td-image-text {
  color: #808080;
  font-size: 18px;
}
