@import "mixins/all";
@import "compass/css3/background-size";

.content-service-testimonials-container {
  text-align: center;
  background: #FFFFFF;
}

.content-service-testimonials-wrapper {
  @include wrapper(0);
  background: #FFFFFF;
}

.content-service-testimonials-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
  color: #e058d4;
}

.content-service-testimonials-text {
  font-size: 18px;
  text-align: center;
  color: #808080;
}

.content-service-testimonials-table {
  background: #FFFFFF;
}

.content-service-testimonials-tbody {
  background: #FFFFFF;
}

.content-service-testimonials-tr {
  background: #FFFFFF;
}

.content-service-testimonials-td-image {
  position: relative;
  text-align: right;
  padding-bottom: 40%;
}

.content-service-testimonials-td-image img {
  position: absolute;
  left: 65%;
  height: 100%;
  border: 0px solid #FFFFFF;
  border-radius: 50%;
  vertical-aligen: middle;
  text-align: right;
  display: inline-block;
}

.content-service-testimonials-td-title {
  text-align: right;
}

.content-service-testimonials-image-title {
  vertical-aligen: middle;
  text-align: left;
}

.content-service-testimonials-name {
  font-size: 18px;
  font-weight: bolder;
  padding-bottom: 2em;
}
