@import "mixins/all";
@import "compass/css3/background-size";

.content-service-video-container {
  background: #eeeeee;
  text-align: center;
}

.content-service-video-wrapper {
  @include wrapper(0);
  background: #eeeeee;
}

.content-service-video-title {
  text-transform: uppercase;
  padding-top: 2em;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #e058d4;
}

.content-service-video-text {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 18px;
  text-align: center;
  color: #808080;
}

.content-service-video-youtube {
  text-align: center;
  vertical-aligen: middle;
}

.content_service_padding_image {
  width: 60%;
}

.intrinsic-container {
  position: relative;
  height: 0;
  padding-bottom: 40%;
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 15%;
  width: 70%;
  height: 100%;
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
