@import "mixins/all";
@import "compass/css3/background-size";

.content-service-description-container {
  text-align: center;
  background: #eeeeee;
}

.content-service-description-wrapper {
  @include wrapper(0);
  background: #eeeeee;
}

.content-service-description-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 2em;
  color: #e058d4;
}

.content-service-description-text {
  font-size: 18px;
  text-align: center;
  color: #808080;
  margin-left: 15%;
  margin-right: 15%;
}

.content-service-description-table {

}

.content-service-description-tbody {

}

.content-service-description-tr {

}

.content-service-description-td-image {
  width: 30px;
}


.content-service-description-td-image-title {
  font-weight: bold;
  color: #606060;
}

.content-service-description-td-image-text {
  color: #808080;
  font-size: 13px;
}
