.content-service-testimonials-container {
  text-align: center;
  background: #FFFFFF;
  padding: 10px;
}

.content-service-testimonials-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #e058d4;
}

.content-service-testimonials-text {
  font-size: 18px;
  text-align: center;
  color: #808080;
  margin-left: 15%;
  margin-right: 15%;
}

.content-service-testimonials-table {
  background: #FFFFFF;
}

.content-service-testimonials-tbody {
  background: #FFFFFF;
}

.content-service-testimonials-tr {
  background: #FFFFFF;
}

.content-service-testimonials-td-image {
  text-align: right;
}

.content-service-testimonials-image {
  width: 120px;
  border: 0px solid #FFFFFF;
  border-radius: 100%;
  vertical-aligen: middle;
  display: inline-block;
}

.content-service-testimonials-td-title {
  text-align: right;
}

.content-service-testimonials-image-title {
  vertical-aligen: middle;
  text-align: left;
}
