@import "../mixins/all";
@import "compass/css3/background-size";

.content-promo-intro-container {
    text-align: left;
    padding-top: 2em;
    padding-bottom: 2em;
}

.content-promo-intro-wrapper {
  @include wrapper(0);
  padding-bottom: 0.75em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  background: transparent;
  max-width: 40em;
}

.content-promo-intro-title {
    font-weight: bold;
    color: #333333;
    font-size: 24px;
    padding-top: 0.25em;
    padding-bottom: 0.5em;
}

.content-promo-intro-text {
  color: #323232;
  font-size: 18px;
}

.content-promo-description-container {
  border: 1px solid #d4cdcd;
  color: #808080;
  text-align: left;

  @include media(mobile) {
    padding: 0.5em;
  }
  
  @include media(mobile-landscape) {
    padding: 0.5em;
  }

  @include media(tablet) {
    padding: 4%;
  }

  @include media(desktop) {
    
    padding: 4%;
  }
}

.content-promo-title {
  font-weight: bold;
  color: #333333;
  font-size: 24px;
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}

.content-promo-intro-title {
  font-weight: bold;
  color: #333333;
  font-size: 24px;
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}

.content-promo-features-container {
  text-align: center;
  background: #eeeeee;
}

.content-promo-features-wrapper {
  @include wrapper(0);
  padding-bottom: 0.75em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  background: transparent;
  max-width: 40em;
}

.content-promo-features-title {
  font-weight: bold;
  color: #e058d4;
  font-size: 24px;
  padding-top: 1.75em;
  padding-bottom: 1em;
}

.content-promo-description-title {
  font-weight: bold;
  color: #333333;
  font-size: 20px;
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}

.content-promo-description-text {
  color: #323232;
  font-size: 15px;
}

.content-promo-even-more-container {
  border: 1px solid #d4cdcd;
  padding: 5%;
}

.content-promo-even-more-text {
  color: #323232;
  font-size: 18px;
  text-align: left;
}


.content-promo-contact-us-container {
  text-align: center;
}

.content-promo-contact-us-wrapper {
  @include wrapper(0);
  padding-bottom: 0.75em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  background: transparent;
  max-width: 40em;
}

.content-promo-contact-us-title {
  font-weight: bold;
  color: #e058d4;
  font-size: 24px;
  padding-top: 2.25em;
  padding-bottom: 0.5em;
}

.content-promo-contact-us-text {
  color: #808080;
  font-size: 18px;
}
