.content-promo-contact-us-container
  .content-promo-contact-us-wrapper
    %row
      %h2.content-promo-contact-us-title
        = t("promo.content.contact_us_title")
    %row
      .content-promo-contact-us-text
        = t("promo.content.contact_us_text")