%row
  .content-promo-description-title
    = t("promo.content.#{content_name}_title")
.content-promo-even-more-container
  %row
    .content-promo-even-more-text
      = t("promo.content.#{content_name}_text")