.content-promo-intro-container
  .content-promo-intro-wrapper
    %row
      %h2.content-promo-intro-title
        = t("promo.content.intro_title")

    %row
      .content-promo-intro-text
        = t("promo.content.intro_text1")
        %p= t("promo.content.intro_text2")