= form.label :title, t(".listing_title") + "*", :class => "input", :style => "font-size: 25px; font-weight: bold"
= form.text_field(:title, :class => "title_text_field", :style => "font-size: 25px; font-weight: bold", :maxlength => "60")
