= form.label :title, t(".listing_title") + "*", :class => "input", :style => "font-size: 19px;"
= form.text_field(:title, :class => "title_text_field", :maxlength => "60", :style => "font-size: 19px;")
