.footer-container
  .footer-wrapper
    .row
      .pull-left
        %h4{class: "footer-copyright-text"}
        = "Copyright Value lessons"
        &copy;
        = Time.now.year
        = ". All Rights Reserved"
      .pull-right.footer-social-icons
        %ul.social-icons
          %li
            %a.social-icon{:href => "https://twitter.com/", :target => "_blank"}
              %i.fa.fa-twitter
          %li
            %a.social-icon{:href => "https://facebook.com/", :target => "_blank"}
              %i.fa.fa-facebook
          %li
            %a.social-icon{:href => "https://facebook.com/", :target => "_blank"}
              %i.fa.fa-google-plus
          %li
            %a.social-icon{:href => "https://wwwlinkedin.com/", :target => "_blank"}
              %i.fa.fa-linkedin
          %li
            %a.social-icon{:href => "https://www.instagram.com/", :target => "_blank"}
              %i.fa.fa-instagram
